button{
  width: 250px;
  height: 80px;
  font-size: 255px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #059458;
}

.boton-click{
  background-color: #00804A;
}

.boton-reiniciar{
  background-color: #4b0202;
}

button.boton-reiniciar:hover{
  background-color: #500C27;
}